html,
body {
    touch-action: manipulation;
}

.main.card,
.aggregate.card
{
    border: 0;
    box-shadow: 0 0.25rem 0.5rem rgba(48,55,66,.15);
    height: 100%;
    margin-top: 12px;
}

.loading-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.loading-container .loading {
    flex: 1;
}

.color-chooser .orange,
.color-flag.orange
{
    background-color: #FF8C00;
    border-color: #FF8C00;
    color: #ececec;
}
.color-chooser .red,
.color-flag.red
{
    background-color: #EB262D;
    border-color: #EB262D;
    color: #ececec;
}
.color-chooser .pink,
.color-flag.pink
{
    background-color: #FF33E9;
    border-color: #FF33E9;
    color: #ececec;
}
.color-chooser .purple,
.color-flag.purple
{
    background-color: #8836EB;
    border-color: #8836EB;
    color: #ececec;
}
.color-chooser .blue,
.color-flag.blue
{
    background-color: #3434FF;
    border-color: #3434FF;
    color: #ececec;
}
.color-chooser .brown,
.color-flag.brown
{
    background-color: #D2691E;
    border-color: #D2691E;
    color: #ececec;
}
.color-chooser .yellow,
.color-flag.yellow
{
    background-color: #FFF147;
    border-color: #FFF147;
    color: #555555;
}
.color-chooser .green,
.color-flag.green
{
    background-color: #3ede1d;
    border-color: #3ede1d;
    color: #ececec;
}
.color-chooser .white,
.color-flag.white
{
    background-color: #FFFFFF;
    border-color: #555555;
    color: #555555;
}
.color-chooser .black,
.color-flag.black
{
    background-color: #000000;
    border-color: #000000;
    color: #ececec;
}

.tick-button {
	margin: 3px;
}

.color-chooser {
    display: flex;
    justify-content: stretch;
    border-radius: 0.1rem;
    overflow: hidden;
    margin-top: 6px;
}
.color-chooser div {
    height: 40px;
    line-height: 40px;
    flex: 1;
    text-align: center;
}
.section-chooser {
    margin-top: 6px;
    border: 1px solid black;
    border-radius: 0.1rem;
}
.section-chooser .section-chooser-row {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: stretch;
}
.section-chooser .section-chooser-row:last-child {
    border-bottom: 0px;
}
.section-chooser .section-chooser-row .section-chooser-item {
    height: 40px;
    line-height: 40px;
    flex: 1;
    text-align: center;
    border-right: 1px solid black;
}
.section-chooser .section-chooser-row .section-chooser-item:last-child {
    border-right: 0px;
}
.section-chooser .section-chooser-item.active {
    background: black;
    color: white;
}

.grade-chooser {
    display: flex;
    justify-content: stretch;
}
.grade-chooser div {
    height: 40px;
    line-height: 40px;
    flex: 1;
    text-align: center;
}

.new-route-button {
    margin-top: 6px;
}

.color-flag {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: .1rem;
    margin-right: .1rem;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.color-flag div {
    line-height: 0.95;
}

.route-list {
   margin: 0;
   padding: 0;
   list-style: none;
}

.route-list li {
    margin: 0;
    position: relative;
    border-bottom: 1px solid #ededed;
    padding: 2px 5px 2px 5px;
}

.route-list li:last-child {
    border-bottom: 0;
}

.route-list li .view {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.route-list li .view .stats {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 12px;
    width: 100px;
    margin-right: 10px;
}

.route-list li .view .stats .stats-sends,
.route-list li .view .stats .stats-attempts
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.route-list li .view>label {
    flex: 1;
}

#app>div.container {
    margin-top: 58px;
    padding: 0px;
}

header.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0 0.25rem 0.5rem rgba(48,55,66,.15);
    padding: 5px;
    z-index: 4;
    background: #ffffff;
}

.info {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em; 
    color: #555;
}

.modal-container {
    padding: 0 !important;
}

.modal-buttons button {
    margin-right: 6px;
}

.description-and-flag {
    display: flex;
}
.description-and-flag input {
    flex: 1;
}

.import-file-input {
    display: none;
}
