html,
body {
	margin: 0;
	padding: 0;
    touch-action: manipulation;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

:focus {
	outline: 0;
}

.hidden {
	display: none;
}

.routeapp {
	background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.routeapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.routeapp input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.routeapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.routeapp h1 {
	position: absolute;
	top: -155px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.new-route,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.new-route {
	padding: 16px 16px 16px 65px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.toggle-color {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
    font-weight: bold;
	color: #737373;
    margin: 14px 0px 14px 14px;
    border-radius: 3px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
}

.toggle-color.orange,
.color-chooser .orange,
.color-flag.orange
{
    background-color: #FF8C00;
    color: #ececec;
}
.toggle-color.red,
.color-chooser .red,
.color-flag.red
{
    background-color: #EB262D;
    color: #ececec;
}
.toggle-color.pink,
.color-chooser .pink,
.color-flag.pink
{
    background-color: #FF33E9;
    color: #ececec;
}
.toggle-color.purple,
.color-chooser .purple,
.color-flag.purple
{
    background-color: #8836EB;
    color: #ececec;
}
.toggle-color.blue,
.color-chooser .blue,
.color-flag.blue
{
    background-color: #3434FF;
    color: #ececec;
}
.toggle-color.brown,
.color-chooser .brown,
.color-flag.brown
{
    background-color: #D2691E;
    color: #ececec;
}
.toggle-color.yellow,
.color-chooser .yellow,
.color-flag.yellow
{
    background-color: #FFF147;
    color: #c7c7c7;
}
.toggle-color.green,
.color-chooser .green,
.color-flag.green
{
    background-color: #3ede1d;
    color: #ececec;
}
.toggle-color.white,
.color-chooser .white,
.color-flag.white
{
    background-color: #FFFFFF;
    color: #c7c7c7;
}
.toggle-color.black,
.color-chooser .black,
.color-flag.black
{
    background-color: #000000;
    color: #ececec;
}

.route-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.route-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.route-list li:last-child {
	border-bottom: none;
}

.route-list li.editing {
	border-bottom: none;
    padding: 5px;
}

.route-list li.editing .edit {
	display: block;
	width: 100%;
	padding: 12px 16px;
	margin: 0 0 0 0px;
}

.route-list li.editing .view {
	display: none;
}

.route-list li .view {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.route-list li .view .stats {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 12px;
    width: 80px;
    margin-right: 10px;
}

.route-list li .view .stats .stats-sends,
.route-list li .view .stats .stats-attempts
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.route-list li .view .stats .stats-sends div,
.route-list li .view .stats .stats-attempts div
{
    flex: 1;
}
.route-list li .view .stats .stats-sends div:first-child,
.route-list li .view .stats .stats-attempts div:first-child
{
    flex: 0.5;
}


.route-list li .view>label {
	padding: 0px 15px 0px 15px;
	line-height: 1.2;
	transition: color 0.4s;
    flex: 2;
}

.route-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.route-list li .destroy {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	color: #cc9a9a;
	transition: color 0.2s ease-out;
}

.route-list li .destroy:hover {
	color: #af5b5e;
}

.route-list li .destroy:after {
	content: '×';
}

.route-list li .edit {
	display: none;
}

.route-list li.editing:last-child {
	margin-bottom: -1px;
}

.footer {
	color: #777;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.route-count {
	float: left;
	text-align: left;
}

.info {
	margin: 65px auto 0;
	color: #bfbfbf;
	font-size: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

.info p {
	line-height: 1;
}

.info a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
}

.info a:hover {
	text-decoration: underline;
}

.tick-button {
	color: inherit;
	margin: 3px;
	text-decoration: none;
	border: 1px solid #eee;
	border-radius: 3px;
    display: flex;
    justify-content: center;
    align-self: stretch;
}

.tick-button label {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

.tick-button:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

.tick-button.selected {
	border-color: rgba(175, 47, 47, 0.2);
}

.color-chooser {
    display: none;
    justify-content: stretch;
}
.color-chooser.choosing-color {
    display: flex;
}
.color-chooser div {
    height: 40px;
    line-height: 40px;
    flex: 1;
    text-align: center;
}
.section-chooser {
    display: none;
    justify-content: stretch;
}
.section-chooser.choosing-color {
    display: flex;
}
.section-chooser div {
    height: 40px;
    line-height: 40px;
    flex: 1;
    text-align: center;
}
.grade-chooser {
    display: none;
    justify-content: stretch;
}
.grade-chooser.choosing-color {
    display: flex;
}
.grade-chooser div {
    height: 40px;
    line-height: 40px;
    flex: 1;
    text-align: center;
}

.color-flag {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-color,
	.route-list li .toggle {
		background: none;
	}

	.route-list li .toggle {
		height: 40px;
	}
}

@media (max-width: 430px) {
	.filters {
		bottom: 10px;
	}
}
